body {
	margin: 0;
	padding: 0;
}
#topdiv {
	width: 100%;
	height: 50px;
	background-color: #303030;
}
#topdiv img {
	margin-left: 30px;
}
#topdiv ul {
	float: right;
	margin-right: 15px;
}
#topdiv ul li {
	display: inline;
	padding-right: 5px;
}
#topdiv ul li a {
	text-decoration: none;
}
#topdiv ul li a:link {
	color: #ffffff;
}
#topdiv ul li a:hover {
	color: #909090;
}

#maindiv {
	background-color: #c0c0c0;
	padding: 20px;
	overflow: auto;
}
#maindiv article {
	background-color: #ffffff;
	padding: 15px;
	border-left: 1px solid #a0a0a0;
	border-top: 1px solid #a0a0a0;
	border-right: 2px solid #a0a0a0;
	border-bottom: 2px solid #a0a0a0;
	margin-bottom: 20px;
}
#maindiv #leftdiv article p {
	text-indent: 2em;
	line-height: 150%;
}

#maindiv #leftdiv article ul li {
	list-style: none;
	margin-bottom: 15px;
}

#picpic {
	overflow: auto;
}
#picul li {
	float: left;
	width: 100px;
	height: 100px;
	border: 1px solid #a0a0a0;
	padding: 15px;
	margin-right: 15px;
}
#picul li figcaption {
	font-size: smaller;
	text-align: center;
}
#picul li img {
	width: 70%;
	height: 70%;
}

#maindiv #leftdiv article ol li {
	margin-bottom: 15px;
}

#maindiv #leftdiv article table {
	width: 100%;
	border-collapse: collapse;
}
#maindiv #leftdiv article table tr th {
	border: 1px solid #a0a0a0;
	background-color: #303030;
	color: #ffffff;
}
#maindiv #leftdiv article table tr td {
	border: 1px solid #a0a0a0;
}
#lasttr td {
	border: 0;
	background-color: #a0a0a0;
}

#maindiv #rightdiv article aside h1 {
	border-left: 2px solid #a0a0a0;
	padding-left: 15px;
}

#lastdiv {
	width: 100%;
	height: 70px;
	background-color: #303030;
	padding-top: 20px;
}
#lastdiv footer {
	text-align: center;
	color: #ffffff;
	font-size: smaller;
}

form fieldset {
	border:0;
}  
form label {
	display:inline-block;
	width:150px;
	text-align:right;
}  
.shuoming {
	padding-left: 155px;
}
#gerenmiaoshu {
	vertical-align: top;
}
textarea {
	width: 50%;
	height: 80px;
}
#submit {
	width: 100%;
	height: 40px;
	border: 1px solid #3399ff;
	border-radius: 5px;
	background-color: #3399cc;
}
#leftdiv {
	margin-right: 470px;
}
#rightdiv {
	float: right;
	width: 450px;
}
